<div class="container">
  <div class="page">
    <div class="header">
      <h1>
        title sometimes can be a litle long and end jumping to a second line,
        never a
      </h1>
      <h3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum suscipit
        nihil at.
      </h3>
    </div>
    <div class="body">
      <img
        class="img-fluid"
        src="/assets/img/dofast/3.jpg"
        alt="product image"
      />
    </div>
    <div class="footer"></div>
  </div>
</div>
