.container {
  height: 100vh;
  padding: 8px;
}
.page {
  width: 100%;
  height: 100%;
  max-width: 560px;
  margin: 0 auto;
  background: white;
}

.header {
  max-height: 20%;
  text-align: center;
  background: white;
}

.header h1 {
  margin: 0;
  padding: 0;
  letter-spacing: normal;
  font-size: 21px;
}

.header h5 {
  margin: 0;
  padding: 0;
}
.body {
  width: 100%;
  margin-bottom: 18px;
  max-height: 75%;
  overflow: hidden;
  background: white;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.red-text {
  color: red;
}

@media only screen and (max-width: 600px) {
  .page {
    background: white;
  }
  .header {
  }
}
