<div class="banner">
  <a [href]="refUrl">
    <img src="assets\img\ezbattery/logo.png" alt="EZ Battery Reconditioning" />
  </a>
</div>
<br />
<div class="container">
  <div class="header">
    <h1 class="title">
      Bring Old Batteries Back To Life Again...
    </h1>
    <p style="font-size: 18px; color: #303030;">
      EZ Battery Reconditioning™ is the new way to recondition old batteries
      back to life again
    </p>
  </div>
  <a [href]="refUrl">
    <img
      class="img-fluid"
      src="assets\img\ezbattery/battery.jpg"
      alt="EZ Battery Reconditioning"
    />
  </a>
  <div class="card">
    <div class="card-body">
      <a
        style="text-align: center;"
        [href]="refUrl"
        class="btn btn-success"
        style="color: white;"
      >
        Learn More
      </a>
      <ul style="margin: 0;">
        <li>If your batteries die, don't throw them out!</li>

        <li>
          If you have a box of old batteries, save them!
        </li>
        <li>You can recondition these and use them again!</li>
      </ul>
    </div>
  </div>
</div>
