<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,500&display=swap"
  rel="stylesheet"
/>
<div class="btd-header">
  <div class="container" style="height: 100%;">
    <div class="row" style="height: 100%;">
      <div class="col-md-12 text-center">
        <div class="img-preloader">
          <img src="assets/headerbg.jpg" width="1920" height="635" alt="" />
        </div>
        <h6
          class="text-center text-primary nopa-noma"
          style="font-size: 1.25rem;"
        >
          Revealed at last by one of America's top professional dog trainers, a
          simple training strategy that&hellip;
        </h6>

        <h1
          class="text-center text-primary nopa-noma"
          style="padding-right: 0.5px;"
        >
          Develops your Dog's
          <span class="text-secondary btd-s-center">"Hidden Intelligence"</span>
          <span class="btd-lite">
            &nbsp; To <u>eliminate bad behavior</u> and Create the obedient,
            well-behaved pet of your dreams&hellip;</span
          >
        </h1>

        <a [href]="refLink">
          <img
            class="d-block m-auto img-fluid btd-simage-90a"
            src="assets/img/dogs/dogs.png"
            width="793"
            height="500"
            alt=""
          />
        </a>
        <a [href]="refLink">
          <button class="btn btn-success">Show More</button>
        </a>
      </div>
    </div>
  </div>
</div>
