<div class="topwrap">
  <div class="banner">
    <a [href]="refUrl">
      <img src="assets\img\okowat\featured-2.png" alt="energy saving" />
    </a>
  </div>
  <br />

  <div class="container">
    <div class="header">
      <h1 class="title">
        Instantly Reduce Your Electric Bill by Up to 90%
      </h1>
      <p style="font-size: 18px; color: #303030;">
        Demand for New Energy-Saving Devices at an All-Time High
      </p>
    </div>
    <a [href]="refUrl">
      <img class="img-fluid" src="assets\img\okowat\3-lg.jpg" alt="okowat" />
    </a>
    <a
      id="learn-btn"
      style="text-align: center;"
      [href]="refUrl"
      class="btn btn-success"
      style="color: white;"
    >
      See How
    </a>
  </div>
  <p class="note"></p>
</div>
