.topwrap {
  height: 100vh;
  width: 100vw;
  overflow: auto;
}
.banner {
}
.banner img {
  width: 100%;
}
.title {
  font-size: 34px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: #242424;
  text-align: center;
}

.container {
  max-width: 660px;
  text-align: center;
}

#learn-btn {
}
