<div class="container topwrap">
  <div class="header">
    <h1>Get rid of that embarrassing tattoo</h1>
    <h3>Summer is coming and you should not be judged by the past</h3>
    <a routerLink="/tattoo-removal"
      ><img
        src="assets/img/tattoo-removal/2.png"
        alt="tattoo removal book"
        class="img-fluid"
        width="250px"
      />
    </a>
    <div class="card">
      <div class="card-body">
        <button class="btn btn-success">Learn More</button>

        <p>
          Discover this Simple, Natural, Yet Effective System that is Guaranteed
          to Get Rid of Your Unwanted Tattoo - Without any Painful, Expensive
          and Risky Abrasion & Laser Procedures
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-6">
        <p>no regrets</p>
        <img
          src="assets/img/tattoo-removal/1.jpg"
          alt="tattoo removed example"
          class="img-fluid"
        />
      </div>
      <div class="col-sm-12 col-md-6">
        <p>annoying ex-lovers</p>
        <img
          src="assets/img/tattoo-removal/3.jpg"
          alt="tattoo removed example"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</div>
