<div class="container topwrap">
  <div class="header">
    <h1>Get rid of that embarrassing tattoo</h1>
    <h3>Summer is coming and you should not be judged by the past</h3>
    <a href="https://01cc6bxa3j0m7k4ory858dtn2g.hop.clickbank.net/"
      ><img
        src="assets/img/tattoo-removal/2.png"
        alt="tattoo removal book"
        class="img-fluid"
        width="250px"
      />
    </a>

    <div class="card">
      <div class="card-body">
        <a
          href="https://01cc6bxa3j0m7k4ory858dtn2g.hop.clickbank.net/"
          class="btn btn-success"
          style="color: white;"
        >
          Learn More
        </a>

        <p>
          Discover this Simple, Natural, Yet Effective System that is Guaranteed
          to Get Rid of Your Unwanted Tattoo - Without any Painful, Expensive
          and Risky Abrasion & Laser Procedures
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <p>Are you tired of :</p>
      <ul>
        <li>
          <p>
            <span class="bold">People judging</span> you by those unwanted
            tattoo ?
          </p>
        </li>
        <li>
          <p>
            <span class="bold">Regretting</span> a tattoo of past love, or
            associating you with a gang, you don’t want to be a part of anymore.
          </p>
        </li>
        <li>
          <p>
            <span class="bold">Obsessing</span> in the mirror over the
            appearance of an undesired tattoo?
          </p>
        </li>
        <li>
          <p>
            Unwanted tattoo holding you off from not
            <span class="bold">getting the job</span> you always wanted?
          </p>
        </li>
        <li>
          <p>
            <span class="bold">Wearing more</span> clothes than you wanted to
            hide the tattoo?
          </p>
        </li>
        <li>
          <p>
            Wasted time and money on<span class="bold"> expensive painful</span>
            and risky tattoo removal laser and abrasion procedures that are not
            guaranteed and cause skin damages?
          </p>
        </li>
      </ul>
      <p>
        If you answered yes, then this may be the most
        <a href="https://01cc6bxa3j0m7k4ory858dtn2g.hop.clickbank.net/">
          life changing book</a
        >
        you'll ever read.
      </p>
    </div>
  </div>

  <div class="last-two">
    <div>
      <p style="text-align: center;">no more regrets</p>
      <a href="https://01cc6bxa3j0m7k4ory858dtn2g.hop.clickbank.net/">
        <img
          src="assets/img/tattoo-removal/1.jpg"
          alt="tattoo removed example"
          class="img-fluid"
      /></a>
    </div>

    <div>
      <p style="text-align: center;">over annoying ex-lovers</p>
      <a href="https://01cc6bxa3j0m7k4ory858dtn2g.hop.clickbank.net/">
        <img
          src="assets/img/tattoo-removal/3.jpg"
          alt="tattoo removed example"
          class="img-fluid"
      /></a>
    </div>
  </div>
</div>
