.topwrap {
  margin: 0 auto;
  background: white;
  max-width: 960px;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ext-images {
  display: flex;
}

.bold {
  font-weight: bold;
}

.last-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
