<app-header [noLogo]="true" [title]="'Deals Review'"></app-header>
<div class="container">
  <div class="hero">
    <h1>5 Minute Manifestation Review</h1>
    <div class="img-wrap">
      <img
        class="collection-img"
        src="assets/img/manifest/product-collection.png"
        alt="5 Minutes Manifesation Collection"
      />
      <p class="img-note"><em>5 Minutes Manifesation Collection</em></p>
    </div>
  </div>
  <div class="article">
    <article>
      <h1>MANIFESTATION ?</h1>
      <p>
        Like with the Law of Attraction, a manifestation is where your thoughts
        and your energy can create your reality. If you are constantly being
        negative and feeling down, then you are going to attract and manifest
        <strong>negative energy</strong>.
      </p>

      <p>
        The first thing to do when manifesting is to take a look at your
        thoughts and feelings. Are you feeling negative? Do your thoughts
        surround negativity? If so, you could begin to manifest things you don’t
        want in your reality. This is why it’s important to clear your mind and
        have a positive mind when you are wanting to manifest.
      </p>
      <h3>An Action On Your Part</h3>
      <p>
        Manifestation doesn’t just work with your thoughts, there has to be a
        form of action on your part. This could be actually applying for the
        jobs that suit what you are looking for and going to the interviews,
        even reading about better manifestation techniques is a start.
      </p>
      <p>
        Trying to visualize your thoughts and feelings about your job, this will
        then help you to feel more positive and motivated to make these changes
        a reality. This will then push you to take some action and, ultimately,
        manifest your goals into your life.
      </p>
      <div class="alert alert-warning" style="text-align: center;">
        <p>
          if you are not into reading short articles , check the
          <a [href]="refLink" class="alert-link">Original Video</a>
          that did get me to buy the product in the first place ,
          <a [href]="refLink" class="alert-link"> >> here << </a>, but i have
          good information for you below
        </p>
      </div>
      <p class="intro">
        Manifesting the life you want can be pretty easy, but without the right
        approach and knowledge, it can be almost impossible. We all have
        something we want to manifest, whether it’s a dream car, a dream house,
        a life partner, career success, confidence, wealth, health, abundance,
        or anything else that we may think of. I am here to let you know that IT
        IS POSSIBLE!!! You and I can manifest anything we desire with so much
        ease.
      </p>
      <br />
      <h1>5 Min Manifestation Program</h1>
      <p>
        5 Minute Manifestation has made it so much easier for me to manifest as
        it did not require me to get the help of a spiritual healer, or go on a
        whole different journey learning about meditation. All of that is
        encapsulated in this one program.
      </p>
      <p>
        All I needed were my earpods, my cellphone, 5 minutes each day, and an
        open mind and soul. A mind and soul that is open to embarking on a new
        law of attraction journey. It has worked for me, and it definitely can
        work for you.
      </p>
      <h3>What is it ?</h3>
      <p>
        5 Minute Manifestation is a
        <span class="hypno"> hypnosis program </span>that helps rewire your
        subconscious. It is very important to remember that a whole chunk of
        your life happens in the subconscious mind.Our thoughts and consequently
        our behaviour is greatly influenced by our subconscious mind. These are
        beliefs that we now hold,weather or not we know it. No amount of
        meditation or positive thinking can change this. Those beliefs that we
        hold in our subconscious minds must be changed in a way that allows for
        us to be able to manifest. Now that’s what I call true freedom as that
        is the key to manifestation. . .
      </p>
      <div class="alert alert-success" style="text-align: center;">
        <a [href]="refLink" style="text-decoration: none;">
          <p>
            Get your copy at a discounted price
            <a [href]="refLink" class="alert-link">here</a>
          </p>
        </a>
      </div>
      <h3>Why i picked a 5 minutes session</h3>
      <p>
        Meditation and positive thinking take up a whole lot of time and effort,
        and yield poor results. I know this because when I first discovered the
        law of attraction, I focused and meditating and thinking happy thoughts.
        While that did significantly lift my mood, it did not help me much with
        actually manifesting. As a result of that, my lifted mood was
        short-lived and because of that, I would go back to being unhappy and
        dissatisfied, due to not getting the desired results
      </p>

      <br />
      <h1>What to expect from 5 Minute Manifestation</h1>
      <p>
        We will do a brief overview ofthe content in 5 Minute Manifestation, as
        you will need to know exactly what it is you are purchasing.
      </p>
      <ul>
        <li>
          <p>
            Track 1 in 5 Minute Manifestation is titled ‘Your Natural State’. In
            this track theta waves are used. These theta waves connect to your
            subconscious mind in order to detatch limiting beliefs that exists
            in your subconscious mind. This is an extremely important in
            attracting abundance. You will need to listen to this track for 7
            days.
          </p>
        </li>
        <li>
          <p>
            Upon completing Track 1, those hurdles that existed in your
            subconscious mind have now been cleared and you are now able to
            create your new reality. As such, track 2 of 5 Minute Manifestation
            is titled “Your New Story”. You are now empowered to create the
            reality of your dreams.
          </p>
        </li>
        <li>
          <p>
            “Moving Towards Abundance” is the title of the third track of 5
            Minute Manifestation. As the title suggests, this track will set you
            well on your way of abundance in every aspect of your life.
          </p>
        </li>
      </ul>

      <h3>Pros and Cons are a must</h3>
      <span>Pros </span>
      <ul>
        <li>
          As the name suggests,5 Minute Manifestation does not take up too much
          of your time. 5 Minutes each day is all you need. This is my personal
          favorite pro.
        </li>
        <li>
          It is very easy to use. All 5 Minute Manifestation requires of you is
          that, you listen for 5 minutes each day. None of the hard things are
          required of you.
        </li>

        <li>
          Your limiting beliefs are detatched, with this short program.<em
            >Sky Is The Start</em
          >, not the limit
        </li>
        <li>
          You get a 60 day money back guarantee with 5 Minute Manifestation. If
          you are dissatisfied with the results, get your refund.
        </li>
      </ul>
      <span>Cons</span>
      <ul>
        <li>
          You do need to focus, and if you have issues with concetrating and
          clearing your mind this might be an issue for you. This is the only
          con that I can think of. It may be a challenge at first, but with a
          bit of time and effort it can be overcome.
        </li>
      </ul>
    </article>
    <footer>
      <div class="alert alert-success" style="text-align: center;">
        <a [href]="refLink" style="text-decoration: none;">
          <p>
            Get your copy at a discounted price
            <a [href]="refLink" class="alert-link">here</a>
          </p>
        </a>
      </div>
    </footer>
  </div>
</div>
