.hero {
  width: 100%;
  text-align: center;
}
.collection-img {
  width: 100%;
  max-width: 690px;
}
.article {
  max-width: 690px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 1);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: ser;
}
